node_modules/
package-lock.json
venv/
__pycache__/
*.log
build/
"__pycache__/" 
"SocialMediaTBD/" 
my-flask-app/.ipynb_checkpoints/Untitled-checkpoint.ipynb
my-flask-app/.ipynb_checkpoints/aldo-checkpoint.ipynb
my-flask-app/.ipynb_checkpoints/aldo-checkpoint.ipynb
