
/*Emma's Code for app layout*/ 
.App {
  text-align: center;
  background-color: #8D0039;
  height: 100vh; 
}

/*Emma: app header layout*/ 
.App-header {
  background-color: #6a012b; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; 
}



