/*Emma's code on all the CSS styling!*/

/*Body settings for html pages*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Dashboard layout, layout of html page four sections*/
.dashboard{
  display:grid;
  grid-template-columns:1fr 3fr;
  grid-template-rows:auto 1fr auto;
  grid-template-areas: 
  "header header"
  "main main"
  "footer footer";
  gap:10px;
  height:100vh;  
  background-color: black;
}

/*Create basic design layout of dashboard items*/
header,.sidebar,.main,.footer{
  color:black;
  text-align:center;
  margin:0; 
  font-size:1.2em;
  box-sizing:border-box;
}

/*Set up of navigation bar when user has not logged in*/
.navigation1{
  grid-area:header; 
  width:100%; 
  align-items:center;
  display:flex; 
  justify-content: center;
  padding:.3rem; 
  height:auto; 
  background-color: #6a012b;
}

/*Header "Tea Talks"*/
.navigation1 > h1 { 
  display: flex; 
  justify-content: center;
  align-items: center; 
  text-align: center;
  color: pink; 
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem; 
  margin: .8rem; 
}

/*Set up of the navigation bar when user has logged in*/
.navigation{
  grid-area:header; 
  width:100%; 
  justify-content:space-between;
  align-items:center;
  display:flex;
  color:white; 
  padding:.3rem;
  margin:0; 
  height:auto; 
  background-color: #6a012b;
}

/*Header "Tea Talks"*/
.navigation > h1 { 
  display: flex; 
  justify-content: center;
  margin: 0;
  margin-left: 1rem; 
  text-align: center;
  color: pink; 
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  margin-bottom: 0; 
}

/*Navigation bar items (i.e. settings, user profile, etc)*/
ul li{
  margin-top:0; 
  color: peachpuff; 
  text-align: left;
  list-style-type:none;
  font-size:1rem; 
  display:inline-block; 
  margin-right: 1rem;  
}

/*Hover effect for navigation bar items*/
ul li:hover{
  color: orange; 
}

/*list of setting info*/ 
ul li > ul li{
  color: peachpuff;
  font-size: 1rem;
  text-align: left; 
  list-style-type: circle;
}

/*Story margin*/
.storySection {
  margin-bottom: 2rem;
}

/*Adjustments to the settings drop down menu*/
.setting-menu{
  display: flex;
  flex-direction: column;
  justify-content: left;
  z-index: 1;
  padding: 0%;
}

/*Readjust font size for setting drop down menu*/
.setting-menu li{
  font-size: .9rem; 
}

/*Hover effect for setting menu items*/
.setting-menu li:hover{
  color: orange; 
}

/*Icon*/
.mugIcon{
  color: white; 
  font-size: 7rem; 
  margin-top: 3rem; 
  margin-bottom: 0rem;
  margin-left: 1.5rem;  
}

/*Login sizing*/
.auth-container > h2{
  color: #4f0000; 
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.5rem; 
  margin-bottom: 1.2rem; 
  margin-top: 0rem; 
}

/*Hyperlink for setting up the account*/
.auth-container > p{
  font-size: 1.1rem; 
  font-weight: bold;
  color: #4f0000; 
  margin-bottom: 2rem; 
}

/*Hyperlink for setting up account hover effect*/
.auth-container > p:hover{
  color: pink; /*Not currently working*/ 
}

/*Text field adjustments for entering login information*/
.auth-container > input {
  width: 16rem; 
  padding: .7rem; 
  margin-bottom: 1.2rem; 
  font-size: 1rem;
  margin-left: 0rem;
  text-align: left; 
}

/*Login Button*/ 
.auth-container > button{
  padding: 1rem 2.3rem; 
  background-color: pink;
  border: none; 
  border-radius: 6%;
  margin-top: 1.25rem; 
  margin-bottom: 0; 
  font-size: 1rem; 
}

/*Hovering over Login Button*/
.auth-container > button:hover{
  background-color:#6a012b; 
}

/*Add pink border effect*/
.auth-container{
  margin-top: 2rem; 
  border: 1rem solid pink;
  padding: 20px; 
  border-radius: 10%;
  width: 30rem; 
  height: 35rem;  
  margin-left: 30rem; 
}

/*New page for settings!*/
/*Adding friends*/
/*Organizing content within the profile page itself*/